* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

main {
  height: 100%;
  width: 72%;
  background-color: rgb(14, 14, 14);
  margin: auto;
  gap: 10px;
  padding: 25px 22px 50px 22px;
  display: grid;
  grid-template-columns: 1.05fr 0.95fr 0.95fr 1.06fr;
  grid-template-rows: 16% 18% 28% 15% 19.5%;
  grid-template-areas:
    "top-left top-center1 top-center2 top-right"
    "top-left top-center1 top-center2 right-center"
    " bottom-left center  top-center2 right-center"
    "bottom-left bottom-top bottom-right bottom-right"
    "bottom-left bottom-bottom bottom-right bottom-right "
  ;

}

.top-left {
  background-color: rgb(161, 85, 243);
  grid-area: top-left;
  /* border: 2px solid white; */
  border-radius: 25px;
 
  /* margin: 10px; */
  position: relative;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  /* margin: 12px 23px; */
}

.top-left img {
  width: 100%;
  bottom: -55px;
  
  position: absolute;



}

.top-center1 {
  background-color: rgb(23, 23, 25);
  grid-area: top-center1;
  /* border: 2px solid white; */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
  padding:0px 15px ;
  /* margin: 0 -20px; */
  overflow: hidden;
  object-position: center;


}
.top-center1 img{
  width: 10em;
  object-fit: cover;
  /* margin-top: 20px; */
  transform: scale(1.6);
  
}

.top-center2 {
  background-color: rgb(23, 23, 25);
  grid-area: top-center2;
  border: 2px solid rgb(65, 4, 4);
  border-radius: 25px;
   padding:30px 30px;

  display:flex;
  flex-direction:column;

  gap:24px;
}
.menu-item{
  display:flex;
  align-items:center;
 font-family: sans-serif;
  gap:12px;

  font-size:17px;

  text-transform:uppercase;

  color:#f1f1f1;
}

.menu-item span{
  font-size:22px;
}
.divider{
  width:100%;
  height:1px;

  background:#232323;

  /* margin:10px 0; */
}

.top-right {
  background: linear-gradient(to left, rgb(119, 59, 204), rgb(167, 85, 249));
  grid-area: top-right;
  /* border: 2px solid white; */
  border-radius: 25px;
  /* margin-bottom: 14px; */
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0px 15px;
  /* gap: 10px; */
  
}
.left{
  display: flex;
  align-items: center;
  justify-content: space-between;
   gap: 5px;
}
.left i {
  font-size: 40px;
  color: #f1f1f1;
}
.left p{
  font-size: 11px;
  line-height: 15px;
  font-weight: 100;
}
.line{
  width:1px;
  height:60px;

  background:#ffffff55;
}
.right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
.right i {
  font-size: 30px;
  color: #f1f1f1;
}
.right p{
  font-size: 11px;
  line-height: 15px;
  font-weight: 100;

}

.center {
  background-color: rgb(23, 23, 25);
  grid-area: center;
  /* border: 2px solid white; */
  border-radius: 25px;
   padding: 30px 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 
}
.location{
  color:#bfbfbf;

  font-size:15px;

  line-height:1.7;
  
}
.location .top{
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.location span{
  width:30px;
  height:30px;
  background-color: rgb(213,244,85);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location span i{
  font-size: 20px;
  color: black;
}
.location  .para{
  font-size: 10px;
  color: rgb(71,71,73);
} 
.center h2{
  /* margin-top:45px; */
 color: white;
  font-size:15px;

  line-height:1.2;

  font-weight:700;
}

.center .bottom{
  /* margin-top:30px; */

  color:#7d7d7d;

  font-size:12px;
}


.right-center {
  background-color: rgb(192, 222, 93);
  grid-area: right-center;
  /* border: 2px solid white; */
  border-radius: 25px;
  position: relative;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: contain;
}

.right-center img {
  width: 140%;
  bottom: 0;
  left: -13px;

  position: absolute;



}

.bottom-left {
  background-color: rgb(8, 8, 8);
  grid-area: bottom-left;
  border: 2px solid rgb(197, 202, 117);
  border-radius: 25px;
  padding: 2em 1.25em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* margin: 0 7px; */

}


.bottom-left h1 {
  color: white;
  font-family: sans-serif;
  /* width: 100%; */
  /* display: inline-block; */
  font-size: 3em;
  transform: scaleY(3.2);
  font-weight: 100;
  letter-spacing: 1px;
/* margin-top: 40px; */
padding: 1em 0.25em;
 /* margin: 0 23px; */
  

  

  font-weight:900;

  /* letter-spacing:-5px; */
}

.bottom-left h3{
  /* margin-top:15px; */
 width: 100%;
  color:#b85cff;

  letter-spacing:4px;

  font-size:0.9em;
  /* margin: 0 23px; */

  line-height:1.4;
}

.poster-line{
  width:100%;
  height:1px;

  background:#343434;
  /* margin: 0 20px; */

   /* margin: 0 23px; */
}

.bitcoin{
  display:flex;
  align-items:center;

  gap:1.25em;
  /* margin: 0 23px; */
}

.bitcoin-icon{
  width:3em;
  height:3em;

  background:#d8ff4d;

  border-radius:14px;

  display:flex;
  justify-content:center;
  align-items:center;

  color:#000;

  font: size 2.5em;

  font-weight:800;
}

.bitcoin p{
  font-size:16px;
 color: white;
  line-height:1.5;
   margin: 0 1.5em;
}

.barcode{
  width:100%;
  height:5.6em;

  /* margin-top:60px; */
   /* margin: 0 23px; */

  background:
  repeating-linear-gradient(
    to right,
    #fff 0,
    #fff 4px,
    transparent 4px,
    transparent 8px
  );
}


.bottom-right {
  background-color: rgb(254, 254, 254);
  grid-area: bottom-right;
  /* border: 2px solid white; */
  border-radius: 25px;
  display: flex;
  /* align-items: center; */
 /* margin: 10px; */
  justify-content: space-between;
}
.review-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* gap: 30px; */
  /* margin: 34px 25px; */
}
.review-left p{
  color: rgb(93,92,95);
}
.review-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  /* margin: 28px 22px; */
 
}
.review-right h2{
  font-size: 80px;

}
.stars{
  color: rgb(213,241,85);
  font-size: 38px;
  /* margin-top: -40px; */
}
.review-right button{
  background-color: #b85cff;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  
}
.bottom-top {
  background-color: rgb(23, 23, 25);
  grid-area: bottom-top;
  /* border: 2px solid white; */
  border-radius: 25px;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content:center;
  overflow: hidden;
 
 

}
.bottom-top img{
  /* position: absolute; */
  max-width: 40px;
   object-fit: contain;
  height: auto;
  transform: scale(1.5);
  /* object-fit: fill; */
  

}

.bottom-bottom {
  background-color: rgb(215, 242, 89);
  grid-area: bottom-bottom;
  /* border: 2px solid white; */
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.125em 1.125em;
  gap: 1em;
}
.bottom-bottom img{
  width: 4.5em;
  height: 4.5em;
}
.qr-text{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.qr-text h3{
  font-size: 0.75em;
}
.qr-text p{
  font-size: 0.625em;
  line-height: 1;
}
.bottom-bottom span i{
  font-size: 1.37em;
 top: 2.5em;
  position: absolute;
 
}



